asttokens==2.0.8
backcall==0.2.0
decorator==5.1.1
executing==1.1.1
fast-slic==0.4.0
imutils==0.5.4
ipython==8.5.0
jedi==0.18.1
matplotlib-inline==0.1.6
numexpr==2.8.3
numpy==1.23.4
opencv-python==4.6.0.66
packaging==21.3
parso==0.8.3
pexpect==4.8.0
picamera==1.13
pickleshare==0.7.5
prompt-toolkit==3.0.31
ptyprocess==0.7.0
pudb==2022.1.2
pure-eval==0.2.2
Pygments==2.13.0
pyparsing==3.0.9
python-statemachine==0.8.0
RPi.GPIO==0.7.1
SciPy==1.8.1
six==1.16.0
stack-data==0.5.1
traitlets==5.4.0
urwid==2.1.2
urwid-readline==0.13
wcwidth==0.2.5
